body{
    background-color: steelblue;
    height: 100vh;
    color: white;
}
#container{
    position: absolute;
    width: 90%;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#stopwatch{
   font-size: 120px;
}

#alllaps{
    list-style: none
}